openapi: 3.0.1
info:
  title: Coval Agents Scheduled Runs API
  description: Simulation and evaluation API for AI voice and chat agents. Manage agents, test sets and test cases, personas, metrics and their thresholds and baselines, simulation runs, run templates, scheduled runs, individual simulations, reports, and production conversations. All paths are relative to the production base URL https://api.coval.dev/v1 and authenticated with the X-API-Key header. Endpoints in this document are drawn from Coval's live per-resource OpenAPI specifications served from https://api.coval.dev/v1/openapi.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Scheduled Runs
  description: Schedule recurring simulation runs.
paths:
  /scheduled-runs:
    get:
      operationId: listScheduledRuns
      summary: List scheduled runs
      tags:
      - Scheduled Runs
      responses:
        '200':
          description: A list of scheduled runs.
    post:
      operationId: createScheduledRun
      summary: Create scheduled run
      tags:
      - Scheduled Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Scheduled run created.
  /scheduled-runs/{scheduled_run_id}:
    parameters:
    - name: scheduled_run_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getScheduledRun
      summary: Get scheduled run
      tags:
      - Scheduled Runs
      responses:
        '200':
          description: The requested scheduled run.
    patch:
      operationId: updateScheduledRun
      summary: Update scheduled run
      tags:
      - Scheduled Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated scheduled run.
    delete:
      operationId: deleteScheduledRun
      summary: Delete scheduled run
      tags:
      - Scheduled Runs
      responses:
        '204':
          description: Scheduled run deleted.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
