openapi: 3.2.0
info:
  title: Coval Reports API
  description: Simulation and evaluation API for AI voice and chat agents.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Reports
  description: Create and manage evaluation reports.
paths:
  /reports:
    get:
      operationId: listReports
      summary: List reports
      tags:
      - Reports
      responses:
        '200':
          description: A list of reports.
    post:
      operationId: createReport
      summary: Create report
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Report created.
  /reports/{report_id}:
    parameters:
    - name: report_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getReport
      summary: Get report
      tags:
      - Reports
      responses:
        '200':
          description: The requested report.
    patch:
      operationId: updateReport
      summary: Update report
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated report.
    delete:
      operationId: deleteReport
      summary: Delete report
      tags:
      - Reports
      responses:
        '204':
          description: Report deleted.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
