openapi: 3.0.1
info:
  title: Coval Agents Reports API
  description: Simulation and evaluation API for AI voice and chat agents. Manage agents, test sets and test cases, personas, metrics and their thresholds and baselines, simulation runs, run templates, scheduled runs, individual simulations, reports, and production conversations. All paths are relative to the production base URL https://api.coval.dev/v1 and authenticated with the X-API-Key header. Endpoints in this document are drawn from Coval's live per-resource OpenAPI specifications served from https://api.coval.dev/v1/openapi.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Reports
  description: Create and manage evaluation reports.
paths:
  /reports:
    get:
      operationId: listReports
      summary: List reports
      tags:
      - Reports
      responses:
        '200':
          description: A list of reports.
    post:
      operationId: createReport
      summary: Create report
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Report created.
  /reports/{report_id}:
    parameters:
    - name: report_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getReport
      summary: Get report
      tags:
      - Reports
      responses:
        '200':
          description: The requested report.
    patch:
      operationId: updateReport
      summary: Update report
      tags:
      - Reports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated report.
    delete:
      operationId: deleteReport
      summary: Delete report
      tags:
      - Reports
      responses:
        '204':
          description: Report deleted.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
