openapi: 3.0.1
info:
  title: Coval Agents Mutations API
  description: Simulation and evaluation API for AI voice and chat agents. Manage agents, test sets and test cases, personas, metrics and their thresholds and baselines, simulation runs, run templates, scheduled runs, individual simulations, reports, and production conversations. All paths are relative to the production base URL https://api.coval.dev/v1 and authenticated with the X-API-Key header. Endpoints in this document are drawn from Coval's live per-resource OpenAPI specifications served from https://api.coval.dev/v1/openapi.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Mutations
  description: Manage agent configuration variants (mutations).
paths:
  /agents/{agent_id}/mutations:
    parameters:
    - $ref: '#/components/parameters/AgentId'
    get:
      operationId: listMutations
      summary: List mutations
      tags:
      - Mutations
      responses:
        '200':
          description: A list of mutations for the agent.
    post:
      operationId: createMutation
      summary: Create mutation
      tags:
      - Mutations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Mutation created.
  /agents/{agent_id}/mutations/{mutation_id}:
    parameters:
    - $ref: '#/components/parameters/AgentId'
    - $ref: '#/components/parameters/MutationId'
    get:
      operationId: getMutation
      summary: Get mutation
      tags:
      - Mutations
      responses:
        '200':
          description: The requested mutation.
    patch:
      operationId: updateMutation
      summary: Update mutation
      tags:
      - Mutations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated mutation.
    delete:
      operationId: deleteMutation
      summary: Delete mutation
      tags:
      - Mutations
      responses:
        '204':
          description: Mutation deleted.
components:
  parameters:
    AgentId:
      name: agent_id
      in: path
      required: true
      schema:
        type: string
    MutationId:
      name: mutation_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
