openapi: 3.0.1
info:
  title: Coval Agents Run Templates API
  description: Simulation and evaluation API for AI voice and chat agents. Manage agents, test sets and test cases, personas, metrics and their thresholds and baselines, simulation runs, run templates, scheduled runs, individual simulations, reports, and production conversations. All paths are relative to the production base URL https://api.coval.dev/v1 and authenticated with the X-API-Key header. Endpoints in this document are drawn from Coval's live per-resource OpenAPI specifications served from https://api.coval.dev/v1/openapi.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Run Templates
  description: Save reusable run configurations.
paths:
  /run-templates:
    get:
      operationId: listRunTemplates
      summary: List run templates
      tags:
      - Run Templates
      responses:
        '200':
          description: A list of run templates.
    post:
      operationId: createRunTemplate
      summary: Create run template
      tags:
      - Run Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Run template created.
  /run-templates/{run_template_id}:
    parameters:
    - name: run_template_id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getRunTemplate
      summary: Get run template
      tags:
      - Run Templates
      responses:
        '200':
          description: The requested run template.
    patch:
      operationId: updateRunTemplate
      summary: Update run template
      tags:
      - Run Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated run template.
    delete:
      operationId: deleteRunTemplate
      summary: Delete run template
      tags:
      - Run Templates
      responses:
        '204':
          description: Run template deleted.
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
