openapi: 3.0.1
info:
  title: Coval Agents Runs API
  description: Simulation and evaluation API for AI voice and chat agents. Manage agents, test sets and test cases, personas, metrics and their thresholds and baselines, simulation runs, run templates, scheduled runs, individual simulations, reports, and production conversations. All paths are relative to the production base URL https://api.coval.dev/v1 and authenticated with the X-API-Key header. Endpoints in this document are drawn from Coval's live per-resource OpenAPI specifications served from https://api.coval.dev/v1/openapi.
  termsOfService: https://coval.dev/terms
  contact:
    name: Coval API Support
    email: support@coval.dev
    url: https://docs.coval.dev
  license:
    name: Proprietary
    url: https://coval.dev/terms
  version: 1.0.0
servers:
- url: https://api.coval.dev/v1
  description: Production API
security:
- ApiKeyAuth: []
tags:
- name: Runs
  description: Launch and manage simulation runs.
paths:
  /runs:
    get:
      operationId: listRuns
      summary: List runs
      tags:
      - Runs
      parameters:
      - name: filter
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: A list of runs.
    post:
      operationId: launchRun
      summary: Launch run
      description: Launch a simulation run by pairing an agent, a persona, and a test set, optionally selecting specific metrics and mutations.
      tags:
      - Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunLaunch'
      responses:
        '201':
          description: Run launched.
  /runs/{run_id}:
    parameters:
    - $ref: '#/components/parameters/RunId'
    get:
      operationId: getRun
      summary: Get run
      tags:
      - Runs
      responses:
        '200':
          description: The requested run.
    patch:
      operationId: updateRun
      summary: Update run
      tags:
      - Runs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated run.
    delete:
      operationId: deleteRun
      summary: Delete run
      tags:
      - Runs
      responses:
        '204':
          description: Run deleted.
components:
  parameters:
    Cursor:
      name: cursor
      in: query
      description: Pagination cursor.
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      schema:
        type: string
    Limit:
      name: limit
      in: query
      description: Maximum number of items to return.
      schema:
        type: integer
  schemas:
    RunLaunch:
      type: object
      required:
      - agent_id
      - persona_id
      - test_set_id
      properties:
        agent_id:
          type: string
        persona_id:
          type: string
        test_set_id:
          type: string
        metric_ids:
          type: array
          items:
            type: string
        mutation_id:
          type: string
        mutation_ids:
          type: array
          items:
            type: string
        persona_metrics:
          type: array
          items:
            type: object
        options:
          type: object
          description: Launch options for the run.
        metadata:
          type: object
          description: Arbitrary metadata attached to the run.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Organization API key for authentication.
